@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/"><b>Prueba</b> </a>
        </div>
        <p class="login-box-msg">Inicio de seccion</p>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email">Usuario</label>
                <input asp-for="Email"  value="admon" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="nexos"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" value="123" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-6">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="RememberMe">  @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-4">
                    <button type="submit" formaction="/Account/Register" class="btn btn-primary btn-block btn-flat">Registro</button>
                </div>

                <!-- /.social-auth-links -->
                <a asp-action="ForgotPassword">Olvido la contraseña</a><br>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center hidden">Register a new membership</a>
                <p class="pull-right">
                    <span style="font-style:italic;"><small>*Demo => Email: super@admin.com Password: 123456</small></span>
                </p>
                <br>
            </div>


        

        </form>

        <section>

            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            No hay servicios de autenticación externos configurados. Ver <a href="https://go.microsoft.com/fwlink/?LinkID=532715">este articulo</a>
                            
para obtener detalles sobre cómo configurar esta aplicación ASP.NET para admitir el inicio de sesión a través de servicios externos.
                        </p>
                    </div>
                }
                @*else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {

                                    if (provider.DisplayName == "Google")
                                    {
                                        <button type="submit" class="btn btn-block btn-social btn-google btn-flat" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus"></i>@provider.Name</button>

                                    }
                                    else if (provider.DisplayName == "Facebook")
                                    {
                                        <button type="submit" class="btn btn-block btn-social btn-facebook btn-flat" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i>@provider.Name</button>

                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-block btn-social btn-twitter btn-flat" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-twitter"></i>@provider.Name</button>

                                    }

                                }
                            </p>
                        </div>
                    </form>
                }*@
            }
        </section>
    </div>
</div>


<!-- /.login-box-body -->

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
}
