@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Menu";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-gear"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="Grid"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles{
}
@section Scripts{


    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/Menu",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            var dataManagerVendorType = ej.DataManager({
                url: "/api/Rol",
                adaptor: new ej.WebApiAdaptor()
            });

            var dataManagerVendorType2 = ej.DataManager({
                url: "/api/Formulario",
                adaptor: new ej.WebApiAdaptor()
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/Menu/Insert",
                        updateUrl: "/api/Menu/Update",
                        removeUrl: "/api/Menu/Remove",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "IdMenu", headerText: 'IdMenu', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Detalle", headerText:  '@Localizer["Detail"]', validationRules: { required: true } },
                        { field: "IdRol", headerText: '@Localizer["Role"]', foreignKeyField: "IdRol", foreignKeyValue: "Rol", dataSource: dataManagerVendorType },
                        { field: "IdFormulario", headerText: '@Localizer["Form"]', foreignKeyField: "IdFormulario", foreignKeyValue: "Nombre", dataSource: dataManagerVendorType2 },
                        { field: "Activo", headerText: '@Localizer["Active"]', type: "boolean", editType: "booleanedit" },
                    ],
                    actionComplete: "complete",
                });
            });


        });

        function complete(args) {
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
            }
        }


    </script>

}
